<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/my.css">
</head>
<body>
Успешная авторизация
<p>Имя пользователя: <span th:text="${user.get().getUsername()}"></span></p>
<p>Email: <span th:text="${user.get().email}"></span></p>
<p>Роль: <span id="roleId" th:text="${user.get().roles.iterator().next().name}"></span></p>
<p id="hrpanelhref"><a href="/main">На главную страницу</a></p>
<p>Ваши задачи:</p>
<div th:each="entry : ${groupedTasks}">
    <div class="draggable" id="drag" draggable="true" data-taskid="${entry.key}" data-section="${change.getTask().getTaskCons()[0].getCondition()}">
        <div th:each="change : ${entry.value}">
            <div>
                <span id="entryKey" th:text="${entry.key}"></span>
                <span th:text="${entry.value[0].getTaskDescription()}"></span>
                <span th:text="${change.getChangeText()}"></span>
                <span th:text="${change.getChangeTime()}"></span>
                <span th:text="${change.getUser().getUsername()}"></span>
                <div th:each="taskCon : ${change.getTask().getTaskCons()}">
                    <span id="conditionKey" th:text="${taskCon.getCondition()}"></span>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="droppable" id="section1" data-sectionid="section1">TODO</div>
<div class="droppable" id="section2" data-sectionid="section2">IN PROGRESS</div>
<div class="droppable" id="section3" data-sectionid="section3">TESTING</div>
<div class="droppable" id="section4" data-sectionid="section4">COMPLETE</div>

<!-- Всплывающее окно -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Id задачи: <span id="taskIdforModal"></span></p>
        <p>Id секции: <span id="sectionId"></span></p>
        <input type="text" id="textInput" placeholder="Введите текст">
        <button id="submitButton">Отправить</button>
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function () {
    var draggedItem = null;
    var modal = document.getElementById("myModal");
    var submitButton = document.getElementById("submitButton");
    var sectionIdSpan = document.getElementById("sectionId");
    var textInput = document.getElementById("textInput");

       // Получить все элементы с классом draggable
    var draggableElements = document.querySelectorAll(".draggable");

    // Проверить, есть ли элементы с классом .draggable
    if (draggableElements.length > 0) {
        // Перебрать все найденные элементы
        draggableElements.forEach(function(element) {

            // Получить значение conditionKey для текущего элемента
            var initialSection = element.querySelector("#conditionKey").textContent;

            // Переместить элемент в соответствующую секцию в зависимости от значения conditionKey
            if (initialSection === "TODO") {
                document.getElementById("section1").appendChild(element);
            } else if (initialSection === "IN_PROGRESS") {
                document.getElementById("section2").appendChild(element);
            } else if (initialSection === "TESTING") {
                document.getElementById("section3").appendChild(element);
            } else if (initialSection === "DONE") {
                document.getElementById("section4").appendChild(element);
            }
        });
    } else {
        console.log("Нет элементов с классом .draggable на странице.");
    }


    var checkrole = document.getElementById("roleId").textContent;

    if (checkrole === "ROLE_MODERATOR" || checkrole === "ROLE_ADMIN") {
        // Если условие выполняется, создаем новый параграф и элемент ссылки
        var newParagraph = document.createElement("p");
        var hrlink = document.createElement("a");
        hrlink.href = "/hrpanel";
        hrlink.textContent = " HR панель";

        // Добавляем новую ссылку к новому параграфу
        newParagraph.appendChild(hrlink);

        // Находим родительский элемент и добавляем новый параграф к нему
        var parentElement = document.getElementById("hrpanelhref");
        parentElement.appendChild(newParagraph);
    }


    // Начало перетаскивания
    document.addEventListener("dragstart", function (event) {
        draggedItem = event.target;
        event.target.style.opacity = 0.5;
    });

    // Перетаскивание внутри секции
    document.addEventListener("dragover", function (event) {
        event.preventDefault();
    });

    // Перемещение элемента внутрь секции
    document.addEventListener("drop", function (event) {
        event.preventDefault();
        if (event.target.classList.contains("droppable")) {
           // var taskId = draggedItem.getAttribute("data-taskid");
          // var taskId = draggedItem.getAttribute("entryKey").innerText;

            var taskId = draggedItem.querySelector("#entryKey").textContent;

            var sectionId = event.target.getAttribute("data-sectionid");

            // Показать всплывающее окно
            modal.style.display = "block";
            sectionIdSpan.textContent = sectionId;
            taskIdforModal.textContent=taskId;
            // Обработчик кнопки отправки
            submitButton.onclick = function() {
                // Чтение токена из cookie
                var accessToken = getCookie("Authorization");
                var inputValue = textInput.value;
                // Отправить AJAX запрос с данными taskId, sectionId и inputValue

                var xhr = new XMLHttpRequest();

                // Устанавливаем метод запроса и URL-адрес сервера
                xhr.open("POST", "/account", true);

                // Устанавливаем заголовки запроса (если необходимо)
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("Authorization", "Bearer " + accessToken);

                // Обработчик события, который будет вызван при успешном завершении запроса
                xhr.onload = function () {
                    // Проверяем статус ответа
                    if (xhr.status >= 200 && xhr.status < 300) {
                     location.reload();
                        // Разбираем полученный JSON-ответ, если он ожидается
                        var response = JSON.parse(xhr.responseText);
                        console.log("Успешный ответ:", response);
                    } else {
                        // Обрабатываем ошибку, если статус ответа не в пределах 2xx
                        console.error("Ошибка при выполнении запроса. Статус:", xhr.status);
                    }
                };

                // Обработчик события, который будет вызван в случае ошибки запроса
                xhr.onerror = function () {
                    console.error("Произошла ошибка при выполнении запроса.");
                };

                // Подготавливаем данные для отправки (в формате JSON)
                var requestData = {
                    sectionId: sectionId,
                    taskId: taskId,
                    textInput: document.getElementById("textInput").value
                };

                // Преобразуем объект с данными в формат JSON и отправляем запрос
                xhr.send(JSON.stringify(requestData));


                // Закройте модальное окно после отправки запроса
                modal.style.display = "none";
            };
        }

        // Переместить элемент в секцию
        event.target.appendChild(draggedItem);
        draggedItem.style.opacity = 1;
    });

    // Закрыть модальное окно при клике на крестик
    var closeButton = document.getElementsByClassName("close")[0];
    closeButton.onclick = function() {
        modal.style.display = "none";
    };
});

// Функция для чтения cookie по имени
function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length === 2) {
        return parts.pop().split(";").shift();
    }
}

</script>
</body>
</html>