<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Успешная авторизация
<p>Имя пользователя: <span th:text="${user.get().username}"></span></p>
<p>Email: <span th:text="${user.get().email}"></span></p>
<p>Роль: <span th:text="${user.get().roles.iterator().next().name}"></span></p>
<p>Ваши задачи:</p>
<div th:each="task :${tasks}">

        <div >
            <span th:text="${task.getTask().getDescription}"></span>
            <span th:text="${task.getChangeText()}"></span>
            <span th:text="${task.getChangeTime()}"></span>
            <span th:text="${task.getUser().getUsername}"></span>
            <div th:each="taskCon :${task.getTask().getTaskCon()}">
                <span th:text="${taskCon.getCondition()}"></span>

            </div>

        </div>

</div>

<a href="/main">На главную страницу</a>
<script>



    </script>
</body>
</html>