<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<meta charset="UTF-8">
<head>


    <title>Title</title>
</head>
<body>
Это HRpanel
<h1>User List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
    </tr>
    <tr th:if="${users.isPresent()}">
        <td th:text="${users.get().id}"></td>
        <td th:text="${users.get().username}"></td>
        <td th:text="${users.get().email}"></td>
    </tr>
    <tr th:unless="${users.isPresent()}">
        <td colspan="3">User not found</td>
    </tr>
</table>

</body>
</html>