<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<meta charset="UTF-8">
<head>


    <title>Title</title>
</head>
<body>
Это HRpanel
<h1>User List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>% Выполненных задач</th>
        <th>Среднее время выполнения задачи</th>
        <th>Частота коммитов</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>

        <td th:text="${@userInfo.calculateCompletionPercentage(user)}"></td>
        <td th:text="${@userInfo.calculateAverageTaskCompletionTime(user)}"></td>
        <td th:text="${@userInfo.calculateTaskChangeFrequencyPerDay(user)}"></td>
    </tr>
    <tr th:if="${#lists.isEmpty(users)}">
        <td colspan="3">User list is empty</td>
    </tr>
</table>

<div id="overdueTasks">
    <h2>Просроченные и невыполненные задания</h2>
    <ul></ul>
</div>

<div id="tasksWithEndedLaterThanDeadline">
    <h2>Просроченные задачи</h2>
    <ul></ul>
</div>

<div id="tasksWithTwoDaysDifference">
    <h2>Задания, срок сдачи которых заканчивается через 2 дня</h2>
    <ul></ul>
</div>

<script>
    const overdueTasksList = document.getElementById('overdueTasks').querySelector('ul');
    const tasksWithEndedLaterThanDeadlineList = document.getElementById('tasksWithEndedLaterThanDeadline').querySelector('ul');
    const tasksWithTwoDaysDifferenceList = document.getElementById('tasksWithTwoDaysDifference').querySelector('ul');

    var accessToken = getCookie("Authorization");
    const eventSource = new EventSource('/subscribe',{headers:{'Authorization':'Bearer '+accessToken}});


    eventSource.onmessage=function(event){
        const notifications = JSON.parse(event.data);

        overdueTasksList.innerHTML = '';
        tasksWithEndedLaterThanDeadlineList.innerHTML = '';
        tasksWithTwoDaysDifferenceList.innerHTML = '';
        console.log('Получены увдомления: ',notifications);

        notifications.forEach(task=>{
            console.log(`ID: ${task.id}, Description: ${task.description}`);

        });
        // Обновите списки задач с новыми данными
        notifications[0].forEach(task => {
            const listItem = document.createElement('li');
            listItem.textContent = task.description;
            overdueTasksList.appendChild(listItem);
        });

        notifications[1].forEach(task => {
            const listItem = document.createElement('li');
            listItem.textContent = task.description;
            tasksWithEndedLaterThanDeadlineList.appendChild(listItem);
        });

        notifications[2].forEach(task => {
            const listItem = document.createElement('li');
            listItem.textContent = task.description;
            tasksWithTwoDaysDifferenceList.appendChild(listItem);
        });
    }
    eventSource.onerror = function(error) {
    console.error('Error occurred:', error);
    };
    // Периодическая проверка соединения, если оно закрыто, создаем новый
    setInterval(function () {
        if (eventSource.readyState === EventSource.CLOSED) {
            eventSource.close();
            const newEventSource = new EventSource('/subscribe', { headers: { 'Authorization': 'Bearer ' + accessToken } });
            newEventSource.onmessage = eventSource.onmessage;
            newEventSource.onerror = eventSource.onerror;
            eventSource = newEventSource;
        }
    }, 10000);

    function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length === 2) {
        return parts.pop().split(";").shift();
        }
    }







</script>
</body>
</html>